<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>BuildingName</key>
		<string>Agate Hall</string>
		<key>Coordinates</key>
		<dict>
			<key>Latitude</key>
			<real>44.0401779</real>
			<key>Longitude</key>
			<real>-123.0690729</real>
		</dict>
	</dict>
	<dict>
		<key>BuildingName</key>
		<string>Alder Building</string>
		<key>Coordinates</key>
		<dict>
			<key>Latitude</key>
			<real>44.031184</real>
			<key>Longitude</key>
			<real>-123.0798148</real>
		</dict>
	</dict>
	<dict>
		<key>BuildingName</key>
		<string>Allen Hall</string>
		<key>Coordinates</key>
		<dict>
			<key>Latitude</key>
			<real>44.0463345</real>
			<key>Longitude</key>
			<real>-123.0750648</real>
		</dict>
	</dict>
	<dict>
		<key>BuildingName</key>
		<string>Anstett Hall</string>
		<key>Coordinates</key>
		<dict>
			<key>Latitude</key>
			<real>44.0457641</real>
			<key>Longitude</key>
			<real>-123.077218</real>
		</dict>
	</dict>
	<dict>
		<key>BuildingName</key>
		<string>Fine Arts Studio</string>
		<key>Coordinates</key>
		<dict>
			<key>Latitude</key>
			<real>44.031184</real>
			<key>Longitude</key>
			<real>-123.079815</real>
		</dict>
	</dict>
	<dict>
		<key>BuildingName</key>
		<string>Autzen Stadium</string>
		<key>Coordinates</key>
		<dict>
			<key>Latitude</key>
			<real>44.058271</real>
			<key>Longitude</key>
			<real>-123.068488</real>
		</dict>
	</dict>
	<dict>
		<key>BuildingName</key>
		<string>Bean Complex West</string>
		<key>Coordinates</key>
		<dict>
			<key>Latitude</key>
			<real>44.043778</real>
			<key>Longitude</key>
			<real>-123.067879</real>
		</dict>
	</dict>
	<dict>
		<key>BuildingName</key>
		<string>Bean Complex East</string>
		<key>Coordinates</key>
		<dict>
			<key>Latitude</key>
			<real>44.043993</real>
			<key>Longitude</key>
			<real>-123.066988</real>
		</dict>
	</dict>
	<dict>
		<key>BuildingName</key>
		<string>Carson Hall</string>
		<key>Coordinates</key>
		<dict>
			<key>Latitude</key>
			<real>44.045112</real>
			<key>Longitude</key>
			<real>-123.071614</real>
		</dict>
	</dict>
	<dict>
		<key>BuildingName</key>
		<string>Cascada Hall</string>
		<key>Coordinates</key>
		<dict>
			<key>Latitude</key>
			<real>44.045112</real>
			<key>Longitude</key>
			<real>-123.071614</real>
		</dict>
	</dict>
	<dict>
		<key>BuildingName</key>
		<string>Cascada Annex</string>
		<key>Coordinates</key>
		<dict>
			<key>Latitude</key>
			<real>44.046778</real>
			<key>Longitude</key>
			<real>-123.07362</real>
		</dict>
	</dict>
	<dict>
		<key>BuildingName</key>
		<string>Computing Center</string>
		<key>Coordinates</key>
		<dict>
			<key>Latitude</key>
			<real>44.046282</real>
			<key>Longitude</key>
			<real>-123.078302</real>
		</dict>
	</dict>
	<dict>
		<key>BuildingName</key>
		<string>Collier House</string>
		<key>Coordinates</key>
		<dict>
			<key>Latitude</key>
			<real>44.044941</real>
			<key>Longitude</key>
			<real>-123.075116</real>
		</dict>
	</dict>
	<dict>
		<key>BuildingName</key>
		<string>Chapman Hall</string>
		<key>Coordinates</key>
		<dict>
			<key>Latitude</key>
			<real>44.0452731</real>
			<key>Longitude</key>
			<real>-123.077024</real>
		</dict>
	</dict>
	<dict>
		<key>BuildingName</key>
		<string>Lillis Business Complex</string>
		<key>Coordinates</key>
		<dict>
			<key>Latitude</key>
			<real>44.046065</real>
			<key>Longitude</key>
			<real>-123.077579</real>
		</dict>
	</dict>
	<dict>
		<key>BuildingName</key>
		<string>Clinical Services Building</string>
		<key>Coordinates</key>
		<dict>
			<key>Latitude</key>
			<real>44.040512</real>
			<key>Longitude</key>
			<real>-123.079235</real>
		</dict>
	</dict>
	<dict>
		<key>BuildingName</key>
		<string>Columbia Hall</string>
		<key>Coordinates</key>
		<dict>
			<key>Latitude</key>
			<real>44.045795</real>
			<key>Longitude</key>
			<real>-123.074168</real>
		</dict>
	</dict>
	<dict>
		<key>BuildingName</key>
		<string>Condon Hall</string>
		<key>Coordinates</key>
		<dict>
			<key>Latitude</key>
			<real>44.045192</real>
			<key>Longitude</key>
			<real>-123.078192</real>
		</dict>
	</dict>
	<dict>
		<key>BuildingName</key>
		<string>Deady Hall</string>
		<key>Coordinates</key>
		<dict>
			<key>Latitude</key>
			<real>44.046631</real>
			<key>Longitude</key>
			<real>-123.076429</real>
		</dict>
	</dict>
	<dict>
		<key>BuildingName</key>
		<string>Deschutes Hall</string>
		<key>Coordinates</key>
		<dict>
			<key>Latitude</key>
			<real>44.045954</real>
			<key>Longitude</key>
			<real>-123.071081</real>
		</dict>
	</dict>
	<dict>
		<key>BuildingName</key>
		<string>Earl Complex</string>
		<key>Coordinates</key>
		<dict>
			<key>Latitude</key>
			<real>44.043903</real>
			<key>Longitude</key>
			<real>-123.07282</real>
		</dict>
	</dict>
	<dict>
		<key>BuildingName</key>
		<string>Lokey Education Building</string>
		<key>Coordinates</key>
		<dict>
			<key>Latitude</key>
			<real>44.042609</real>
			<key>Longitude</key>
			<real>-123.079224</real>
		</dict>
	</dict>
	<dict>
		<key>BuildingName</key>
		<string>Erb Memorial Union</string>
		<key>Coordinates</key>
		<dict>
			<key>Latitude</key>
			<real>44.044776</real>
			<key>Longitude</key>
			<real>-123.073704</real>
		</dict>
	</dict>
	<dict>
		<key>BuildingName</key>
		<string>Esslinger Hall</string>
		<key>Coordinates</key>
		<dict>
			<key>Latitude</key>
			<real>44.042864</real>
			<key>Longitude</key>
			<real>-123.073954</real>
		</dict>
	</dict>
	<dict>
		<key>BuildingName</key>
		<string>Fenton Hall</string>
		<key>Coordinates</key>
		<dict>
			<key>Latitude</key>
			<real>44.04579</real>
			<key>Longitude</key>
			<real>-123.076427</real>
		</dict>
	</dict>
	<dict>
		<key>BuildingName</key>
		<string>Urban Farm</string>
		<key>Coordinates</key>
		<dict>
			<key>Latitude</key>
			<real>44.047834</real>
			<key>Longitude</key>
			<real>-123.071090</real>
		</dict>
	</dict>
	<dict>
		<key>BuildingName</key>
		<string>Ford Alumni Center</string>
		<key>Coordinates</key>
		<dict>
			<key>Latitude</key>
			<real>44.045126</real>
			<key>Longitude</key>
			<real>-123.067585</real>
		</dict>
	</dict>
	<dict>
		<key>BuildingName</key>
		<string>Friendly Hall</string>
		<key>Coordinates</key>
		<dict>
			<key>Latitude</key>
			<real>44.045848</real>
			<key>Longitude</key>
			<real>-123.075148</real>
		</dict>
	</dict>
	<dict>
		<key>BuildingName</key>
		<string>Gerlinger Hall</string>
		<key>Coordinates</key>
		<dict>
			<key>Latitude</key>
			<real>44.043602</real>
			<key>Longitude</key>
			<real>-123.075764</real>
		</dict>
	</dict>
	<dict>
		<key>BuildingName</key>
		<string>Gerlinger Annex</string>
		<key>Coordinates</key>
		<dict>
			<key>Latitude</key>
			<real>44.043238</real>
			<key>Longitude</key>
			<real>-123.076556</real>
		</dict>
	</dict>
	<dict>
		<key>BuildingName</key>
		<string>Global Scholars Hall</string>
		<key>Coordinates</key>
		<dict>
			<key>Latitude</key>
			<real>44.042706</real>
			<key>Longitude</key>
			<real>-123.067233</real>
		</dict>
	</dict>
	<dict>
		<key>BuildingName</key>
		<string>Hamilton COmplex</string>
		<key>Coordinates</key>
		<dict>
			<key>Latitude</key>
			<real>44.043805</real>
			<key>Longitude</key>
			<real>-123.070445</real>
		</dict>
	</dict>
	<dict>
		<key>BuildingName</key>
		<string>Hendricks Hall</string>
		<key>Coordinates</key>
		<dict>
			<key>Latitude</key>
			<real>44.044230</real>
			<key>Longitude</key>
			<real>-123.075151</real>
		</dict>
	</dict>
	<dict>
		<key>BuildingName</key>
		<string>High School Equivalency Program</string>
		<key>Coordinates</key>
		<dict>
			<key>Latitude</key>
			<real>44.041294</real>
			<key>Longitude</key>
			<real>-123.062826</real>
		</dict>
	</dict>
	<dict>
		<key>BuildingName</key>
		<string>Huestis Hall</string>
		<key>Coordinates</key>
		<dict>
			<key>Latitude</key>
			<real>44.045952</real>
			<key>Longitude</key>
			<real>-123.071983</real>
		</dict>
	</dict>
	<dict>
		<key>BuildingName</key>
		<string>Jaqua Academic Center</string>
		<key>Coordinates</key>
		<dict>
			<key>Latitude</key>
			<real>44.045877</real>
			<key>Longitude</key>
			<real>-123.069016</real>
		</dict>
	</dict>
	<dict>
		<key>BuildingName</key>
		<string>Klamath Hall</string>
		<key>Coordinates</key>
		<dict>
			<key>Latitude</key>
			<real>44.046406</real>
			<key>Longitude</key>
			<real>-123.072599</real>
		</dict>
	</dict>
	<dict>
		<key>BuildingName</key>
		<string>HEDCO Education Building</string>
		<key>Coordinates</key>
		<dict>
			<key>Latitude</key>
			<real>44.041593</real>
			<key>Longitude</key>
			<real>-123.078891</real>
		</dict>
	</dict>
	<dict>
		<key>BuildingName</key>
		<string>Knight Law Center</string>
		<key>Coordinates</key>
		<dict>
			<key>Latitude</key>
			<real>44.042553</real>
			<key>Longitude</key>
			<real>-123.069130</real>
		</dict>
	</dict>
	<dict>
		<key>BuildingName</key>
		<string>Lawrence Hall</string>
		<key>Coordinates</key>
		<dict>
			<key>Latitude</key>
			<real>44.047223</real>
			<key>Longitude</key>
			<real>-123.074859</real>
		</dict>
	</dict>
	<dict>
		<key>BuildingName</key>
		<string>Knight Library</string>
		<key>Coordinates</key>
		<dict>
			<key>Latitude</key>
			<real>44.043320</real>
			<key>Longitude</key>
			<real>-123.077730</real>
		</dict>
	</dict>
	<dict>
		<key>BuildingName</key>
		<string>Living-Learning Center(LLC)</string>
		<key>Coordinates</key>
		<dict>
			<key>Latitude</key>
			<real>44.043632</real>
			<key>Longitude</key>
			<real>-123.071570</real>
		</dict>
	</dict>
	<dict>
		<key>BuildingName</key>
		<string>McArthur Court</string>
		<key>Coordinates</key>
		<dict>
			<key>Latitude</key>
			<real>44.041725</real>
			<key>Longitude</key>
			<real>-123.074122</real>
		</dict>
	</dict>
	<dict>
		<key>BuildingName</key>
		<string>McKenzie Hall</string>
		<key>Coordinates</key>
		<dict>
			<key>Latitude</key>
			<real>44.047044</real>
			<key>Longitude</key>
			<real>-123.078246</real>
		</dict>
	</dict>
	<dict>
		<key>BuildingName</key>
		<string>Military Sciences</string>
		<key>Coordinates</key>
		<dict>
			<key>Latitude</key>
			<real>44.041518</real>
			<key>Longitude</key>
			<real>-123.069342</real>
		</dict>
	</dict>
	<dict>
		<key>BuildingName</key>
		<string>Knight Arena</string>
		<key>Coordinates</key>
		<dict>
			<key>Latitude</key>
			<real>44.044912</real>
			<key>Longitude</key>
			<real>-123.066311</real>
		</dict>
	</dict>
	<dict>
		<key>BuildingName</key>
		<string>Ombuds Program</string>
		<key>Coordinates</key>
		<dict>
			<key>Latitude</key>
			<real>44.041298</real>
			<key>Longitude</key>
			<real>-123.068725</real>
		</dict>
	</dict>
	<dict>
		<key>BuildingName</key>
		<string>Frohnmayer Music Building</string>
		<key>Coordinates</key>
		<dict>
			<key>Latitude</key>
			<real>44.040991</real>
			<key>Longitude</key>
			<real>-123.077958</real>
		</dict>
	</dict>
	<dict>
		<key>BuildingName</key>
		<string>Milrace</string>
		<key>Coordinates</key>
		<dict>
			<key>Latitude</key>
			<real>44.048375</real>
			<key>Longitude</key>
			<real>-123.071585</real>
		</dict>
	</dict>
	<dict>
		<key>BuildingName</key>
		<string>Many Nations Longhouse</string>
		<key>Coordinates</key>
		<dict>
			<key>Latitude</key>
			<real>44.042151</real>
			<key>Longitude</key>
			<real>-123.068284</real>
		</dict>
	</dict>
	<dict>
		<key>BuildingName</key>
		<string>Museum of Natural and Cultural History</string>
		<key>Coordinates</key>
		<dict>
			<key>Latitude</key>
			<real>44.043023</real>
			<key>Longitude</key>
			<real>-123.068055</real>
		</dict>
	</dict>
	<dict>
		<key>BuildingName</key>
		<string>Walton Complex</string>
		<key>Coordinates</key>
		<dict>
			<key>Latitude</key>
			<real>44.043962</real>
			<key>Longitude</key>
			<real>-123.070576</real>
		</dict>
	</dict>
	<dict>
		<key>BuildingName</key>
		<string>Wilkinson House</string>
		<key>Coordinates</key>
		<dict>
			<key>Latitude</key>
			<real>44.048303</real>
			<key>Longitude</key>
			<real>-123.072291</real>
		</dict>
	</dict>
	<dict>
		<key>BuildingName</key>
		<string>Willamette Hall</string>
		<key>Coordinates</key>
		<dict>
			<key>Latitude</key>
			<real>44.045946</real>
			<key>Longitude</key>
			<real>-123.072756</real>
		</dict>
	</dict><dict>
		<key>BuildingName</key>
		<string>Yamada Language Center</string>
		<key>Coordinates</key>
		<dict>
			<key>Latitude</key>
			<real>44.044830</real>
			<key>Longitude</key>
			<real>-123.072606</real>
		</dict>
	</dict>
	<dict>
		<key>BuildingName</key>
		<string>Villard Hall</string>
		<key>Coordinates</key>
		<dict>
			<key>Latitude</key>
			<real>44.047222</real>
			<key>Longitude</key>
			<real>-123.076389</real>
		</dict>
	</dict>
	<dict>
		<key>BuildingName</key>
		<string>Volcanology Building</string>
		<key>Coordinates</key>
		<dict>
			<key>Latitude</key>
			<real>44.045861</real>
			<key>Longitude</key>
			<real>-123.073726</real>
		</dict>
	</dict>
	<dict>
		<key>BuildingName</key>
		<string>University Health,
	Counseling, and Testing Center</string>
		<key>Coordinates</key>
		<dict>
			<key>Latitude</key>
			<real>44.045085</real>
			<key>Longitude</key>
			<real>-123.070290</real>
		</dict>
	</dict>
	<dict>
		<key>BuildingName</key>
		<string>Straub Hall</string>
		<key>Coordinates</key>
		<dict>
			<key>Latitude</key>
			<real>44.043834</real>
			<key>Longitude</key>
			<real>-123.073068</real>
		</dict>
	</dict>
	<dict>
		<key>BuildingName</key>
		<string>Streisinger Hall</string>
		<key>Coordinates</key>
		<dict>
			<key>Latitude</key>
			<real>44.046444</real>
			<key>Longitude</key>
			<real>-123.071894</real>
		</dict>
	</dict>
	<dict>
		<key>BuildingName</key>
		<string>Riverfront Research Park</string>
		<key>Coordinates</key>
		<dict>
			<key>Latitude</key>
			<real>44.046540</real>
			<key>Longitude</key>
			<real>-123.069868</real>
		</dict>
	</dict>
	<dict>
		<key>BuildingName</key>
		<string>Robinson Theatre</string>
		<key>Coordinates</key>
		<dict>
			<key>Latitude</key>
			<real>44.047127</real>
			<key>Longitude</key>
			<real>-123.076746</real>
		</dict>
	</dict>
	<dict>
		<key>BuildingName</key>
		<string>Rainier Building</string>
		<key>Coordinates</key>
		<dict>
			<key>Latitude</key>
			<real>44.045532</real>
			<key>Longitude</key>
			<real>-123.067240</real>
		</dict>
	</dict>
	<dict>
		<key>BuildingName</key>
		<string>Student Recreation Center</string>
		<key>Coordinates</key>
		<dict>
			<key>Latitude</key>
			<real>44.042704</real>
			<key>Longitude</key>
			<real>-123.073071</real>
		</dict>
	</dict>
	<dict>
		<key>BuildingName</key>
		<string>Prince Lucien Campbell Hall</string>
		<key>Coordinates</key>
		<dict>
			<key>Latitude</key>
			<real>44.044269</real>
			<key>Longitude</key>
			<real>-123.078338</real>
		</dict>
	</dict>
	<dict>
		<key>BuildingName</key>
		<string>Peterson Hall</string>
		<key>Coordinates</key>
		<dict>
			<key>Latitude</key>
			<real>44.045769</real>
			<key>Longitude</key>
			<real>-123.077987</real>
		</dict>
	</dict>
	<dict>
		<key>BuildingName</key>
		<string>Pacific Hall</string>
		<key>Coordinates</key>
		<dict>
			<key>Latitude</key>
			<real>44.046495</real>
			<key>Longitude</key>
			<real>-123.074330</real>
		</dict>
	</dict>
	<dict>
		<key>BuildingName</key>
		<string>Oregon Hall</string>
		<key>Coordinates</key>
		<dict>
			<key>Latitude</key>
			<real>44.045932</real>
			<key>Longitude</key>
			<real>-123.070607</real>
		</dict>
	</dict>
	<dict>
		<key>BuildingName</key>
		<string>Onyx Bridge</string>
		<key>Coordinates</key>
		<dict>
			<key>Latitude</key>
			<real>44.046634</real>
			<key>Longitude</key>
			<real>-123.073250</real>
		</dict>
	</dict>
</array>
</plist>
